<!DOCTYPE html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый</title>
</head>
<body>
<h2>Создаем</h2>
<p></p>
<form th:method="POST" th:action="@{/newuser}" th:object="${user}">

    <table>
        <tr><td>Имя</td><td><input type="text" th:field="*{name}" id="name"/></td></tr>
        <tr><td>Фамиия</td><td><input type="text" th:field="*{lastName}" id="lastName"/></td></tr>
        <tr><td>Возраст</td><td><input type="text" th:field="*{age}" id="age"/></td></tr>
        <tr><td><input type = "submit" value="Создать"></td></tr>
    </table>

</form>

</body>
</html>